*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;

}
.xy_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    border: crimson solid 2px;
}

.blank{

    height: 20px;
    background-color: white;

}
.blank_1{

    height: 18px;
    background-color: lightgray;

}

.dynamic{
    flex: 1;
    overflow: scroll;
}


::-webkit-scrollbar {
    display: none;
}